#div-1 { float: left; }
#div-2 { display: inline; }
#div-3 { float: right; }


.htmlicon, .htmltitle {
	float: left;
}

.threepoints {
	float: right;
}

.container {
	width: 400px;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.comments, .liked_by {
	text-align: justify;
}

@font-face {
	font-family: ;
	src: url();
}