#div-1 { float: left; }
#div-2 { display: inline; }
#div-3 { float: right; }


.htmlicon, .htmltitle {
	float: left;
	text-align: center;

}

.threepoints {
	float: right;
}

.container {
	width: 400px;
	margin: auto;
	background-color: white;
	
}

.comments, .liked_by {
	text-align: justify;
}

@font-face {
	font-family: "Roboto";
	src: url(./Roboto/Roboto-Regular.ttf);
}

body {
font-family: "Roboto";
background-color: black;

}

#iconleft {
	float: left;
	font-size: 25px;
	width: 30px;
}

#iconright {
	float: right;
	font-size: 25px;
}

#iconsize {
	font-size: 25px;
	width: 30px;
	height: 30px;
	padding: 5px 0;
}

li {
	font-size: smaller;
	list-style-type: none;

}

.html5 {
	font-weight: bold;
}

#padding {
	padding: 2px 8px;
}